.social-btns {
  overflow: hidden;
}
.social-btns .btn, .social-btns .btn:before, .social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn, .social-btns .btn:before, .social-btns .btn .fas {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn .fas {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.github:before {background: #24292e;}
.social-btns .btn.github .fab {color: #24292e;}

.social-btns .btn.itchio:before {background: #ff2449;}
.social-btns .btn.itchio .fab {color: #ff2449;}

.social-btns .btn.twitter:before {background: #3cf;}
.social-btns .btn.twitter .fab {color: #3cf;}

.social-btns .btn.google:before {background: #dc4a38;}
.social-btns .btn.google .fas {color: #dc4a38;}

.social-btns .btn.linkedin:before {background: #0077B5;}
.social-btns .btn.linkedin .fab {color: #0077B5;}

.social-btns .btn.skype:before {background: #00aff0;}
.social-btns .btn.skype .fab {color: #00aff0;}

.social-btns .btn:focus:before, .social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab, .social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns .btn:focus .fas, .social-btns .btn:hover .fas {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  font-size: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  margin: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 30%;
  box-shadow: 0 7px 18px -7px rgba(0,0,0,0.18);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 38px;
  vertical-align: middle;
}
.social-btns .btn .fas {
  font-size: 38px;
  vertical-align: middle;
}


.normalBtn {
  color: aliceblue !important;
}
.normalBtn .btn {
  color: aliceblue !important;
}
.normalBtn .fas {
  color: aliceblue !important;
}
.normalBtn .fab {
  color: aliceblue !important;
}



/* Project cards */

/* GLOBAL VARIABLES */
:root {
  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;     /* 16px */
  --fontSmall: 0.8em;   /* 10px */
  --fontMedium: 1em;  /* 14px */
  --fontNormal: 1.4em;      /* 16px */
  --fontLarge:  1.6em;  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}

@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}

.wrapper-custom {
  display: grid;
  grid-template-columns: repeat( auto-fit, 1fr );
  grid-template-rows: auto;
  grid-template-areas:
    "menu menu menu"
    ". card .";
  width: 100vw;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-c {
  position: relative;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  /* max-width: 250px; */
  min-width: 30em;
  height: 25em;
  font-size: var(--fontOrigin);
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

@media only screen and (max-width: 500px) {
  .card-c {
    min-width: 5em;
    height: auto;
  }
}

.card-c:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card__save {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
}

.card-c:hover .card__save {
  opacity: 0.6;
}

.card__save i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:hover i {
  color: rgba(255, 255, 255, 0.8);
}

.card__save:active,
.card__save.active {
  opacity: 1 !important;
}

.card__save:active i,
.card__save.active i {
  color: white;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.card__image img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
/*  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;*/
}

.card-c:hover .card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.5;
}

.card__header {
  display: grid;
  width: 100%;
  height: 200px;
}

.card__profile {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  width: 10vmax;
  height: 10vmax;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.card__profile img {
  -webkit-transform: scale(1.5, 1.5)  translateZ(0);
  transform: scale(1.5, 1.5)  translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
  filter: grayscale(50%) contrast(75%) brightness(1.3);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-c:hover .card__profile img {
  -webkit-transform: scale(1, 1)  translateZ(0);
  transform: scale(1, 1)  translateZ(0);
}

.card__body {
  display: grid;
  padding: 0 20px;
}

.card__name {
  align-self: center;
  justify-self: center;
  margin-bottom: 2px;
  margin-top: 1.1em;
  color: white;
  font-size: var(--fontLarge);
  font-weight: var(--fontLight);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  background: -webkit-linear-gradient(white, #a1a1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card-c:hover .card__name {
  background: -webkit-linear-gradient(white, #c1c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__job {
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: var(--fontMedium);
  font-weight: var(--fontRegular);
  background: hsla(0, 0%, 0%, 0.5);
  text-align: center;
  margin-top: 5em;
  letter-spacing: 0.25rem;
  color: rgb(255, 255, 255);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card-c:hover .card__job {
  color: rgba(100, 130, 200, 1);
}

.card__bio {
  position: relative;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: block;
  margin: 5px 0 5px 0;
  font-size: var(--fontMedium);
  font-weight: var(--fontLight);
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.65);
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card-c:hover .card__bio {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__footer {
  position: relative;
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "date category";
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card-c:hover .card__footer {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__date {
  grid-area: date;
  display: inline-block;
  align-self: bottom;
  justify-self: left;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-transform: uppercase;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
  color: rgba(250, 250, 250, 0.4);
}

/* MODIFIERS */
.card-c[data-effect="blur"]:hover .card__image img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card-c[data-effect="blur"] .card__image img {
  animation-name: blur;
}

.card-c[data-effect="color"]:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card-c[data-effect="color"] .card__image {
  background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
}

.card-c[data-effect="color"]:hover .card__image img {
  opacity: 0.8;
}

.card-c[data-effect="color"]:hover .card__profile img {
  -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
  filter: grayscale(50%) contrast(80%) brightness(1.6);
  mix-blend-mode: normal;
}